#navbar {
    position: fixed;
    top: 0;
    display: flex;
  }
  #welcome-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width:768px) {
    body {
      background-color: brown;
    }
  }